@import 'proto-ui.vusion/src/base/global.css';
$brand-primary: #5294e0;
$icon-color: #464141;
$icon-color-disabled: #b6b6b6;
$sidebar-color: #222;
$sidebar-bgcolor: #fafafa;
$sidebar-hoverbgcolor:#e6e6e6;
$field-background: #fff;
/*Z-Index Scale (private vars)*/

$zIndex-1:1;
$zIndex-5:5;
$zIndex-10:10;
$zIndex-50:50;
$zIndex-100:100;
$zIndex-500:500;
$zIndex-1000:1000;
$zIndex-5000:5000;
$zIndex-10000:10000;
$zIndex-50000:50000;
/* Z-Index Module */

$zIndex-PicViewer: $zIndex-100;
$zIndex-Dialog: $zIndex-10000;
